 /*                                                       Navbar                                                         */
        

        /*                                                  image slide show CSS                                                */
        #imageContainer{
            margin-top: 10px;
            height: 440px;
            width: 100%;
            /* border: 1px solid red; */
        }
        #bigimage{
            height: 100%;
            width: 100%;
            overflow: hidden;
            margin: auto;
        }
        #bigimage+img{
            height: 100%;
            width: 100%;
        }
        #bigimage figure{
           position: relative;
           width: 500%;
           margin: 0;
           left: 0;
           animation: 25s bigimage infinite;
       }
       #bigimage figure img{
           float: left;
           width: 20%;
       }
       @keyframes bigimage{
           0% {
               left: 0;
           }
           20% {
                left: 0;
           }
           25%{
               left: -100%;
           }
           45%{
               left: -100%;
           }
           50%{
               left: -200%;
           }
           70%{
               left: -200%;
           }
           75%{
               left: -300%;
           }
           95%{
               left: -300%;
           }
           100%{
               left: -400%;
           }
       }
       /*                                                     after slidebar                                                    */
       #nameimg{
           display: flex;
           justify-content: space-evenly;
           width: 80%;
           margin: auto;
           margin-top: 20px;
       }
       /*                                                      My Smart Basket                                                 */
       /* #smartbasketContainer{

       } */

       /*                                              after smart basket - Har Din Image                                      */
       #hardin{
           
           width: 78.5%;
           margin: auto;
           /* border: 1px solid red; */
           margin-top: 30px;
       }
       #hardin img{
           width: 100%;
       }

       /*                                                       Banmk Offers                                                 */
       .bankheading{
           text-align: center;
           /* text-align: start; */
           margin-bottom: -5px;
           font-size: 22px;
           font-weight: bold;
       }
       .hrbankoffer{
           width: 80%;
           margin-bottom: 15px;
       }
       #bankimages{
           display: grid;
           grid-template-columns: repeat(4 , 1fr);
           grid-template-rows: auto;
           width: 79%;
           justify-content: space-between;
           gap: 10px;
           /* border: 1px solid red; */
           margin: auto;
       }
       #bankimages img{
           width: 100%;
           /* height: 100%; */
           /* border: 0.5px solid lightgray;   */
           box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
           border-radius: 10px;
       }
       #bankimages img:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       
       /*                                                       Best Sellers                                                     */
       /* #bestsellers{

       } */
       #bestsellerContainer{
            /* border: 1px solid black; */
            width: 78%;
            margin: auto;
            background-color: #f7f7f7;
            padding: 10px;
            border-radius: 10px;
            margin-top: 20px;
            height: auto;
        }
        #productContainer,#productContainer2{
            /* border: 1px solid red; */
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            gap: 10px;
            width: 100%;
            margin: auto;
            margin-top: 30px;
            height: 520px;
        }
        #product{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 5px;
            padding: 8px;
            background-color: white;

        }
        #product:hover{
            cursor: pointer;
        }
        .prodimg{
            display: block;
            margin: auto;
            width: 80%;
            height: 50%;
            border: 1px solid lightgrey;
            padding: 5px 25px 5px 25px;
            border-radius: 10px;
        }
        .type{
            color: gray;
        }
        .prodname{
            font-size: 20px;
        }
        .mrpprice{
            text-decoration: line-through;
            color: grey;
        }
        #pricediv{
            margin-top: -15px;
            display: flex;
            gap: 10px;
        }
        .hardinsasta{
            width: 100%;
            font-size: 16px;
            padding: 5px;
            padding-left: 60px;
            color: green;
            border-color: green;
        }
        .hardinsasta,.addbtn:hover{
            cursor: pointer;
        }
        #buttonsbag{
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;
            gap: 15px;
        }
        .addbtn{
            width: 80%;
            padding: 3px 10px 3px 10px;
            border-radius: 10px;
            border-color: brown;
            color: brown;
            background-color: white;
        }
        .addbtn:hover{
            background-color: red;
            color: white;
        }
        #favicon{
            padding: 3px;
            width: 10%;
            font-size: 22px;
            border: 1px solid red;
            color: black;
            border-color: green;
            padding-left: 8px;
            height: 30px;
            padding-top: 10px;
        }

       /*                                                        Most Popular                                                    */
       #mostpopularContainer{
           margin-top: 30px;
       }

       /*                                                      Fruits & Vegetables                                              */
       #FVContainer{
           margin-top: 40px;
       }
       #leftside{
           /* border: 0.5px solid lightgray; */
           box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
           border-radius: 10px;
           width: 100%;
       }
       #leftside:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       #rightcontainer{
           /* border: 1px solid red; */
           width: 100%;
       }
       #rightside{
           /* border: 1px solid red; */
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           grid-template-rows: auto;
           width: 100%;
           margin: auto;
           gap: 10px;
       }
       #rightside img{
           width: 100%;
            /* border: 0.5px solid lightgray; */
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
           border-radius: 10px;
       }
       #rightside img:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       #fruitandvegContainer{
           /* border: 1px solid red; */
           display: grid;
           grid-template-columns: repeat(2 , 1fr);
           grid-template-rows: auto;
           width: 79%;
           gap: 10px;
           margin: auto;
       }
      
       /*                                                          Your Daily Staples                                             */
       #dailystaplesContainer{
           margin-top: 40px;
       }
       #dailystaplesimg{
           display: grid;
           grid-template-columns: repeat(6 , 1fr);
           grid-template-rows: auto;
           width: 79%;
           justify-content: space-between;
           margin: auto;
           gap: 10px;
       }
       #dailystaplesimg img{
           width: 100%;
           /* border: 0.5px solid lightgray; */
           box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
           border-radius: 10px;
       }
       #dailystaplesimg img:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }

       /*                                                                 Beverages                                               */
       #BeverageContainer{
           margin-top: 40px;
       }

       /*                                                                 Snacks Store                                             */
       #snacksstoreContainer{
           margin-top: 40px;
       }

       /*                                                                Beauty & Hygiene                                          */
       #BeautyHyContainer{
           margin-top: 40px;
       }

       /*                                                            Home & Kitchen Essentials                                      */
       #homeandkitContainer{
           margin-top: 40px;
       }

       /*                                                         after Home & Kitchen Big Slider img                               */
       #seccondSlider{
           box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
           height: auto;
           width: 80%;
           margin: auto;
           margin-top: 50px;
          border-radius: 5px;
        }

       /*                                                                    Brand Store                                             */
       #brandstoreContainer{
           margin-top: 35px;
       }

       /*                                                             Featured Recipes Img Slider                                       */
       #furescContainer{
           margin-top: 40px;
       }
       #thirdslider{
           border: 1px solid lightgray;
           height: auto;
           width: 80%;
           margin: auto;
       }

       /*                                                                      Footer PARA                                                   */
       #paraContainer{ 
           border: 1px solid grey;
           width: 80%;
           margin: auto;
           height: auto;
           margin-top: 40px;
       }
       .para{
           width: 80%;
           margin: auto;
           text-align: justify;
        }
   

    @media only screen and (min-width: 421px) and (max-width: 780px) {
        #imageContainer{
            margin-top: 10px;
            height: auto;
            width: 100%;
            /* border: 1px solid red; */
        }
        #bankimages{
           display: grid;
           grid-template-columns: repeat(2 , 1fr);
           grid-template-rows: auto;
           width: 79%;
           justify-content: space-between;
           gap: 10px;
           /* border: 1px solid red; */
           margin: auto;
       }

       #bestsellerContainer{
            /* border: 1px solid black; */
            width: 78%;
            margin: auto;
            background-color: #f7f7f7;
            padding: 10px;
            border-radius: 10px;
            margin-top: 20px;
        }
       #productContainer{
            /* border: 1px solid red; */
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 10px;
            width: 100%;
            margin: auto;
            margin-top: 30px;
            /* height: 500px; */
        }
        #nameimg{
           display: flex;
           justify-content: space-evenly;
           width: 80%;
           margin: auto;
           margin-top: 20px;
       }

       #dailystaplesContainer{
           margin-top: 40px;
       }
       #dailystaplesimg{
           display: grid;
           grid-template-columns: repeat(3 , 1fr);
           grid-template-rows: auto;
           width: 79%;
           justify-content: space-between;
           margin: auto;
           gap: 10px;
       }
       #dailystaplesimg img{
           width: 100%;
           /* border: 0.5px solid lightgray; */
           box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
           border-radius: 10px;
       }
       #dailystaplesimg img:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       #FVContainer{
           margin-top: 40px;
       }
       #leftside{
           /* border: 0.5px solid lightgray; */
           box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; 
           border-radius: 10px;
           width: 100%;
       }
       #leftside:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       #rightcontainer{
           /* border: 1px solid red; */
           width: 100%;
       }
       #rightside{
           /* border: 1px solid red; */
           display: grid;
           grid-template-columns: repeat(2, 1fr);
           grid-template-rows: auto;
           width: 100%;
           margin: auto;
           gap: 10px;
       }
       #rightside img{
           width: 100%;
            /* border: 0.5px solid lightgray; */
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
           border-radius: 10px;
       }
       #rightside img:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
       }
       #fruitandvegContainer{
           /* border: 1px solid red; */
           display: grid;
           grid-template-columns: repeat(1 , 1fr);
           grid-template-rows: auto;
           width: 79%;
           gap: 10px;
           margin: auto;
       }
    }

    #navbaricon{
        margin-left: 50px;
        /* border: 1px solid red; */
        display: flex;
        gap: 5px;
    }
    #usericon{
        height: 15px;
        display: block;
        font-size: 18px;
        margin-top: 8px;
        /* border: 1px solid red; */
        text-align: center;
        padding: 10px 25px 10px 25px;
        color: black;
        background-color: lightgray;
        border-radius: 5px;
    }